.banner{
    background-image:url(/image/leone-venter-VieM9BdZKFo-unsplash.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    padding:200px;
}

*{
    font-family: 'Poppins', sans-serif;
}

.skills-padding{
    padding:70px 0px;
}
.html-s{
    width:200px;
    padding:40px 20px;
}