/* General */
html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f8fa;
    font-family: "Poppins", sans-serif;
    font-size: .938rem
}

.btn-md {
    padding: 0.5rem 1.75rem !important;
}

/* Bootstrap Customization */
.input-group .form-floating > .form-control {
    border-right: 0;
    background-color: #fff;
    border-color: #b3b7b7;
    color: #393939;
}

.input-group .form-floating > label {
    padding: 1.125rem 0.75rem;
}

.input-group .form-floating > .form-control:focus {
    border-color: #b3b7b7;
    box-shadow: none;
}

.input-group .input-group-text {
    background-color: #fff;
    border-color: #b3b7b7;
    color: #7a7a7a;
}

.btn-lg {
    padding: .75rem 1rem;
}

.btn {
    border: 0;
}

.btn-primary {
    background-color: #f39400;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #f5a426 !important;
        color: #fff;
    }

.btn-secondary {
    background-color: #85355f;
}

    .btn-secondary:hover, .btn-secondary:focus {
        background-color: #712d51 !important;
        color: #fff !important
    }

.text-primary {
    background-color: #f39400;
}

.text-secondary {
    color: #85355f !important;
}

.card {
    background-color: #fff;
}

/* Module */
.unauthorized p {
    color: #bda9d0;
}

.jobs p {
    max-width: 420px;
}

.toastr-error {
    color: red;
}